body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color : black; 
}
/*
body {
    background-image: url("img/green.png");
}
*/
body {
    background-color: whitesmoke;
}
